.bg-color {
  min-height: 100vh;
  background-color: rgba(4, 255, 213, 0.1);
  font-family: "Raleway";
  color: rgb(35, 141, 141);
  display: flex;
  justify-content: center;
  align-items: center;
}

#game-landing-page {
  background-image: url(./images/bg.jpg);
  height: 90vh;
  width: 90vw;
  border-radius: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo-style {
  width: 10rem;
}
.front-background {
  background-color: rgb(154, 180, 176);
  padding: 5% 20%;
  color: rgb(16, 73, 73);
  border-radius: 10px;
}

section div h1 {
  font-family: "Raleway";
  font-size: 5em;
}

.play-icon {
  font-size: 6em;
  cursor: pointer;
  transform: scale(1);
}

.play-icon:hover {
  color: rgb(170, 170, 12);
  transform: scale(1.1) !important;
  transition: transform 0.5s ease-in;
}

#load-dynamic-content {
  min-height: 100vh;
  background-image: url(./images/bg.jpg);
  background-color: rgb(154, 180, 176);
  padding: 5% 20%;
  color: rgb(16, 73, 73);
  border-radius: 10px;
}

.btn-color {
  background-color: rgb(16, 73, 73) !important;
  color: rgb(255, 255, 255) !important;
}

.instruc_btn{
    display: flex;
    justify-content: space-between;
}

.game-card{
    width: 9rem;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgb(16, 73, 73);
}

.skip{
    position: absolute;
    right: 22%;
    top: 13%;
    color: red;
    cursor: pointer;
}
#label-1 ul{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

#label-1 ul li{
  display: flex;
  gap: 5px;
  cursor: pointer;
}

.back-view{
  display: none;
}

/* #label-1 ul li.shake{
  animation: shake 0.35s ease-in-out;
}
@keyframes shake {
  0%, 100%{
    transform: translateX(0);
  }
  20%{
    transform: translateX(-13px);
  }
  40%{
    transform: translateX(13px);
  }
  60%{
    transform: translateX(-8px);
  }
  80%{
    transform: translateX(8px);
  }
} */